<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body style="background-color: #F2F2F2;">
        
        <h:form id="menuForm" style="width: 100%;  background-color: #F2F2F2;">
            <h:graphicImage value="/resources/images/HTL-Pinkafeld_LOGO_WEB.svg" width="40%"/>
        </h:form>

	<h:form>
		<p:growl id="msg" showDetail="true" life="4000" sticky="true"/>
		<p:panel id="pwPnl" header="Passwort Ändern" style="width: 350px; margin: 0 auto; margin-top: 30px;">
                     <p:focus context="pwPnl"/>
                    <h:panelGrid id="pwPanel" columns="2" cellpadding="5">
				<h:outputText value="Altes Passwort eingeben:" />
                                <p:password id="passwordold" value="#{loginBean.chechPw}"/>
                                <h:outputText value="Neues Passwort eingeben:" />
                                <p:password id="passwordnew" value="#{loginBean.newPw}"/>
                                <h:outputText value="Neues Passwort wieder eingeben:" />
                                <p:password id="passwordnew1" value="#{loginBean.newPw1}"/>
			</h:panelGrid>
                     
			<h:panelGrid columns="2" width="100%">
				<p:commandButton value="Ändern" update="msg" action="#{loginBean.changePassword}" icon="fa fa-sign-in"/>
                                <p:commandButton value="Abbrechen" action="#{passwordBean.cancel()}"/>
                        </h:panelGrid>
		</p:panel>
	</h:form>
    </h:body>
</html>
