<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Mitglieder verwalten</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style type="text/css">

        </style>
    </h:head>
    <h:body style = "background-color: #F2F2F2">
        <h:form id="menuForm" style="width: 100%; ">
            <h:graphicImage value="/resources/images/HTL-Pinkafeld_LOGO_WEB.svg" width="40%"/>
        </h:form>
        
        <h:form>  
            <p:growl id="messages" showDetail="true" life="4000" sticky="true"/>
 
            <p:menubar style="background-color: #FFBF00;">
                <p:menuitem  url="/faces/restricted/AdminStart.xhtml" icon="fa fa-home"/>

                <p:menuitem value="Bildungspartner verwalten" url="/faces/restricted/Bildungspartner.xhtml"/>
 
                <p:menuitem value="Mitglieder verwalten" url="/faces/restricted/Mitglieder.xhtml"/>
 
                <p:menuitem value="Benutzer verwalten" url="/faces/restricted/Benutzer.xhtml"/>

                <p:menuitem value="E-Mails senden" url="/faces/restricted/SendMails.xhtml"/>
 
                <f:facet name="options">
                    <p:commandButton value="Password ändern" action="#{passwordBean.changePassword()}"/>
                    <p:commandButton value="#{loginBean.username} - Logout" update="messages" action="#{loginBean.logout}" icon="fa fa-sign-out"/>
                </f:facet>
            </p:menubar>
        </h:form>
        
        <h:form id="mainForm" style="margin-bottom: 10px;">     
            <p:panel id="mainPanel" header="Mitglieder verwalten" style="margin-top: 10px; font-size: 15px;" >
                <p:dataTable id="mDataTable" var="mitglied" value="#{htlPlusService.MList}" scrollable="true" style="font-size: 12px;" scrollHeight="400" scrollWidth="98%" >
                    <p:column headerText="ID" style="width: 10px;">
                        <h:outputText value="#{mitglied.id}" />
                    </p:column>
                    
                    <p:column headerText="Vorname" style="width: 60px;">
                        <h:outputText value="#{mitglied.vname}" />
                    </p:column>
                    
                    <p:column headerText="Nachname" style="width: 60px;">
                        <h:outputText value="#{mitglied.nname}" />
                    </p:column>
                    
                    <p:column headerText="Funktion" style="width: 80px;">
                        <h:outputText value="#{mitglied.funktion}" />
                    </p:column>
 
                    <p:column headerText="E-Mail" style="width: 80px;">
                        <h:outputText value="#{mitglied.email}" />
                    </p:column>
                    
                    <p:column headerText="Tel. Nr." style="width: 60px;">
                        <h:outputText value="#{mitglied.telnr}" />
                    </p:column>
                    
                    <p:column style="width: 0.5px;">
                        <p:commandButton action="#{mitgliedBean.editMitglied(mitglied)}" icon="fa fa-edit" style="border: none; color: black;"/>
                        <p:commandButton action="#{mitgliedBean.deleteMitglied(mitglied)}" icon="fa fa-trash" style="border: none; color: black;" update="mDataTable"/>
                    </p:column>
                </p:dataTable>
                <h:form target="_blank">
                    <p:commandButton action="#{mitgliedBean.setEmptyMitglied()}" icon="fa fa-user-plus" value="Mitglied Hinzufügen" style="font-size: 12px; align-content: center; border: none; color: black;" ajax="true"/>
                </h:form>
                
            </p:panel>
        </h:form>
    </h:body>
</html>
