<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Mails Senden</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style type="text/css">

        </style>
    </h:head>
    <h:body style = "background-color: #F2F2F2">
        <h:form id="menuForm" style="width: 100%; ">
            <h:graphicImage value="/resources/images/HTL-Pinkafeld_LOGO_WEB.svg" width="40%"/>
        </h:form>
        
        <h:form>  
            <p:growl id="messages" showDetail="true" life="4000" sticky="true"/>
 
            <p:menubar style="background-color: #FFBF00;">
                <p:menuitem  url="/faces/restricted/AdminStart.xhtml" icon="fa fa-home"/>

                <p:menuitem value="Bildungspartner verwalten" url="/faces/restricted/Bildungspartner.xhtml"/>
 
                <p:menuitem value="Mitglieder verwalten" url="/faces/restricted/Mitglieder.xhtml"/>
 
                <p:menuitem value="Benutzer verwalten" url="/faces/restricted/Benutzer.xhtml"/>

                <p:menuitem value="E-Mails senden" url="/faces/restricted/SendMails.xhtml"/>
 
                <f:facet name="options">
                    <p:commandButton value="Password ändern" action="#{passwordBean.changePassword()}"/>
                    <p:commandButton value="#{loginBean.username} - Logout" update="messages" action="#{loginBean.logout}" icon="fa fa-sign-out"/>
                </f:facet>
            </p:menubar>
        </h:form>
        
        <h:form id="mainForm" style="margin-bottom: 10px;">     
            <p:commandButton value="Informationsmail senden" action="info"/>
            <p:commandButton value="Erinnerungs-Mail senden" action="#{mailBean.sendRemindMessage}"/>
        </h:form>
    </h:body>
</html>
