<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body style="background-color: #F2F2F2;">
        
        <h:form id="menuForm" style="width: 100%;  background-color: #F2F2F2;">
            <h:graphicImage value="/resources/images/HTL-Pinkafeld_LOGO_WEB.svg" width="40%"/>
        </h:form>
        
        <div id="ueberschriftForm" align="center" style="margin-top: 10px;">
            <h:outputText value="Verein HTL Plus Informatik" style="font-size: 55px; color: #FFBF00;"/>
        </div>

	<h:form id="loginForm" >
		<p:growl id="msg" showDetail="true" life="4000" sticky="true"/>
		<p:panel id="loginPnl" header="Login" style="width: 350px; margin: 0 auto; margin-top: 30px;">
                     <p:focus context="loginPnl"/>
                    <h:panelGrid id="loginPanel" columns="2" cellpadding="5">
				<h:outputText value="Username" />
				<p:inputText id="username" value="#{loginBean.username}"></p:inputText>
				<p:spacer /><p:spacer />	
				<h:outputText value="Passwort" />
                                <p:password id="password" value="#{loginBean.password}"></p:password>
				<p:message for="password"></p:message>
			</h:panelGrid>
			<h:panelGrid columns="1" cellpadding="10" width="100%">
				<p:commandButton value="Login" update="msg" action="#{loginBean.login}" icon="fa fa-sign-in"/>
                        </h:panelGrid>
		</p:panel>
	</h:form>
    </h:body>
</html>
