<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Startseite Mitglied</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body style = "background-color: #F2F2F2">
        <h:form id="menuForm" style="width: 100%; ">
            <h:graphicImage value="/resources/images/HTL-Pinkafeld_LOGO_WEB.svg" width="40%"/>
        </h:form>
        
        <h:form>  
            <p:growl id="message" showDetail="true" life="4000" sticky="true"/>
 
            <p:menubar style="background-color: #FFBF00;">
                <p:menuitem url="/faces/MitgliedStart.xhtml" icon="fa fa-home"/>

                <p:menuitem value="Bildungspartner" url="/faces/RestrictedBildungspartner.xhtml"/>
 
                <p:menuitem value="Mitglieder" url="/faces/RestrictedMitglieder.xhtml"/>
 
                <f:facet name="options">
                    <p:commandButton value="Password ändern" action="#{passwordBean.restrictedChangePassword()}"/>
                    <p:commandButton value="#{loginBean.username} - Logout" update="messages" action="#{loginBean.logout}" icon="fa fa-sign-out"/>
                </f:facet>
            </p:menubar>
            <p:messages id="messages" showDetail="true" closable="true">
                <p:autoUpdate/>
            </p:messages>
        </h:form>
        
        <h:form id="mainForm" >
             <h:graphicImage value="/resources/images/Welcome.svg" width="30%" style="margin-left: 32%;"/>
        </h:form>
    </h:body>
</html>
