<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Bildungspartner verwalten</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style type="text/css">

        </style>
    </h:head>
    <h:body style = "background-color: #F2F2F2">
        <h:form id="menuForm" style="width: 100%; ">
            <h:graphicImage value="/resources/images/HTL-Pinkafeld_LOGO_WEB.svg" width="40%"/>
        </h:form>
        
        <h:form>  
            <p:growl id="messages" showDetail="true" life="4000" sticky="true"/>
 
            <p:menubar style="background-color: #FFBF00;">
                <p:menuitem url="/faces/MitgliedStart.xhtml" icon="fa fa-home"/>

                <p:menuitem value="Bildungspartner" url="/faces/RestrictedBildungspartner.xhtml"/>
 
                <p:menuitem value="Mitglieder" url="/faces/RestrictedMitglieder.xhtml"/>
                
                <f:facet name="options">
                    <p:commandButton value="Password ändern" action="#{passwordBean.restrictedChangePassword()}"/>
                    <p:commandButton value="#{loginBean.username} - Logout" update="messages" action="#{loginBean.logout}" icon="fa fa-sign-out"/>
                </f:facet>
            </p:menubar>
        </h:form>
        
        <h:form id="mainForm">     
            <p:panel id="mainPanel" header="Bildungspartner verwalten" style="margin-top: 10px; position: relative; font-size: 15px;">
                <p:dataTable var="bildpa" value="#{htlPlusService.bpList}" filteredValue="#{htlPlusService.filteredBpList}" scrollable="true" style="font-size: 10px;" scrollHeight="400" scrollWidth="98%">
                            <f:facet name="header">
                                <p:outputPanel>
                                    <h:outputText value="Search all fields:" />
                                    <p:inputText id="globalFilter" onkeyup="PF('bpTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                                </p:outputPanel>
                            </f:facet>
                    
                            <p:column headerText="ID" style="width: 25px;" sortBy="#{bildpa.id}">
                                <h:outputText value="#{bildpa.id}" />
                            </p:column>
                    
                            <p:column headerText="Firmenname" style="width: 80px;" sortBy="#{bildpa.firma}" filterMatchMode="contains">
                                <h:outputText value="#{bildpa.firma}" />
                            </p:column>
      
                            <p:column headerText="Adresse" style="width: 55px;" sortBy="#{bildpa.addr}" filterMatchMode="contains">
                                <h:outputText value="#{bildpa.addr}" />
                            </p:column>
 
                            <p:column headerText="PLZ" style="width: 35px;" sortBy="#{bildpa.plz}">
                                <h:outputText value="#{bildpa.plz}" />
                            </p:column>
                    
                            <p:column headerText="Ort" style="width: 30px;" sortBy="#{bildpa.ort}">
                                <h:outputText value="#{bildpa.ort}" />
                            </p:column>
 
                            <p:column headerText="Absolvent" style="width: 60px;" sortBy="#{bildpa.absolvent}">
                                <h:selectBooleanCheckbox disabled="true" value="#{bildpa.absolvent}" />
                            </p:column>
                    
                            <p:column headerText="Webseite" style="width: 80px;">
                                <h:outputText value="#{bildpa.website}" />
                            </p:column>
                    
                            <p:column headerText="Fax" style="width: 50px;">
                                <h:outputText value="#{bildpa.fax}" />
                            </p:column>
                    
                            <p:column headerText="Email" style="width: 130px;">
                                <h:outputText value="#{bildpa.email}" />
                            </p:column>
                    
                            <p:column headerText="Betrag" style="width: 50px;" sortBy="#{bildpa.betrag}">
                                <h:outputText value="#{bildpa.betrag}€" />
                            </p:column>
                    
                            <p:column headerText="Bezahlt" style="width: 55px;" sortBy="#{bildpa.bezahlt}">
                                <h:selectBooleanCheckbox disabled="true" value="#{bildpa.bezahlt}" />
                            </p:column>
                    
                            <p:column headerText="Eintrittsdatum" style="width: 80px;" sortBy="#{bildpa.eDatum}">
                                <h:outputText value="#{bildpa.eDatum}" />
                            </p:column>
                    
                            <p:column headerText="Austrittsdatum" style="width: 80px;" sortBy="#{bildpa.aDatum}">
                                <h:outputText value="#{bildpa.aDatum}" />
                            </p:column>
                    
                            <p:column headerText="Anmerkung" style="width: 60px;">
                                <h:outputText value="#{bildpa.anmerk}" />
                            </p:column>
                    
                </p:dataTable>
                
            </p:panel>
        </h:form>
  
    </h:body>
</html>

